body {
    background-image: linear-gradient(135deg, #d93831 4.55%, #e6963f 4.55%, #e6963f 9.09%, #f7db4c 9.09%, #f7db4c 13.64%, #40904d 13.64%, #40904d 18.18%, #23215e 18.18%, #23215e 22.73%, #784390 22.73%, #784390 27.27%, #7ccaf0 27.27%, #7ccaf0 31.82%, #fff 31.82%, #fff 36.36%, #ebabb7 36.36%, #ebabb7 40.91%, #000000 40.91%, #000000 45.45%, #715329 45.45%, #715329 50%, #d93831 50%, #d93831 54.55%, #e6963f 54.55%, #e6963f 59.09%, #f7db4c 59.09%, #f7db4c 63.64%, #40904d 63.64%, #40904d 68.18%, #23215e 68.18%, #23215e 72.73%, #784390 72.73%, #784390 77.27%, #7ccaf0 77.27%, #7ccaf0 81.82%, #fff 81.82%, #fff 86.36%, #ebabb7 86.36%, #ebabb7 90.91%, #000000 90.91%, #000000 95.45%, #715329 95.45%, #715329 100%);
    background-size: 777.82px 777.82px;
}

h1 {
    color: black;
    text-align: center;
    background-color: white;
}
p {
    color: black;
    text-align: center;
    background-color: white;
}
div {
    text-align: center;
}
.h1{
    font-family: "Avenir Next", Helvetica, sans-serif;
}
.p1{
    font-family: "Avenir Next", Helvetica, sans-serif;
}
.b1{
    font-family: "Avenir Next", Helvetica, sans-serif;
}

body { font-family: sans-serif; }

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 600px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
}

.flip-card-back {
  background-image: url(/img/QCC_back.svg);
  color: white;
  transform: rotateY(180deg);
}

.scene {
  display: inline-block;
  width: 200px;
  height: 300px;
/*   border: 1px solid #CCC; */
  /* margin: 40px 0; */
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.cardBox {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFront {
  background-image: url('/img/QCC_front.svg');
  background-size: cover;
}

.cardBack {
  background-image: url('/img/QCC_back.svg');
  background-size: cover;
  transform: rotateY(180deg);
}
